<h2>Profile </h2>


  <div class="field">
Email:    <%= @user.email %><br />
  </div>

  <div class="field">
   Username: <%= @user.username %><br />
  </div>
  <%if current_user.id == @user.id%>
  <div class="actions">
     <%=link_to "Edit Your Profile",edit_user_registration_path(@user)%>      
  </div>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%end%>
<%= link_to "Back", :back %>
